<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <title>Welcome saddique</title>
</head>
<body> -->
{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <h1>Welcome to my page!</h1>
    <p>
        This is the demo application for the course
        <en>Getting started with the flask</en>
        on <a href="https://www.pluralsight.com">Pluralsight</a>
    </p>
    <!-- <img src="/static/saddique.jpg">
    <img src="/static/sundus_photo.jpg">
    <img src="/static/sara.png"> -->
    
    <h2>Flash Cards</h2>
    <ul>
        {% for card in cards %}
          <li>
            <a href="{{ url_for('card_view', index=loop.index0) }}">
                {{ card.question }}
            </a>
          </li>
        {% endfor %}
    </ul>
    <a href="{{url_for('add_card')}}">Add a new card</a>

{% endblock %}